$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);

$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);

@mixin phone-styles {
  @media only screen and (max-width: 414px) {
    @content;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;

  background-image: url(../assets/pattern-background-desktop.svg);

  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  @include phone-styles {
    padding: 2rem;
  }
}

.bg-color-overlay {
  width: 100%;
  height: 100%;

  position: absolute;

  background-color: $Desaturated-blue;
  opacity: 0.25;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  width: 30%;
  z-index: 2;
  box-shadow: 0 2rem 2rem rgba($color: $Desaturated-blue, $alpha: .25);

  @include phone-styles {
    width: initial;
  }

  &__image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
  }

  &__details {
    text-align: center;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & > * {
      margin: 0.5rem;
    }
  }

  &__title {
    color: $Dark-blue;

    @include phone-styles {
      font-size: 1.5rem;
    }
  }

  &__description {
    font-weight: 400;
    color: $Desaturated-blue;
  }
}

.callout {
  background-color: $Very-pale-blue;
  width: 100%;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 0.75rem;

  display: flex;
  align-items: center;
  justify-items: end;

  &__left {
    display: flex;
  }

  &__icon {
    height: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    font-size: 0.9rem;
  }

  &__title {
    color: $Dark-blue;
    margin-bottom: 0.25rem;
    font-weight: 900;
    font-size: inherit;
  }

  &__price {
    color: $Desaturated-blue;
  }

  button {
    margin-left: auto;
  }
}

.btn {
  font-family: inherit;
  font-weight: 700;

  border: none;
  background-color: transparent;
  transition: all 0.2s;

  cursor: pointer;

  &--primary {
    color: $Very-pale-blue;
    background-color: $Bright-blue;
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgba($color: $Bright-blue, $alpha: 0.2);

    &:hover {
      background-color: lighten($color: $Bright-blue, $amount: 10);
      box-shadow: 0 1rem 2rem
        rgba($color: lighten($color: $Bright-blue, $amount: 10), $alpha: 0.2);
    }
  }

  &--secondary {
    color: $Desaturated-blue;
    margin-top: 1rem;
    &:hover {
      color: darken($color: $Desaturated-blue, $amount: 30);
    }
  }

  &--callout {
    color: $Bright-blue;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: lighten($color: $Bright-blue, $amount: 15);
    }
  }
}
