$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 75%, 52%);

$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;

  background-image: url(../assets/pattern-background-desktop.svg);

  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-color-overlay {
  width: 100%;
  height: 100%;

  position: absolute;

  background-color: $Desaturated-blue;
  opacity: 0.25;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  width: 30%;
  z-index: 2;

  &__image {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
  }

  &__details {
    text-align: center;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & > * {
      margin: 0.5rem;
    }
  }

  &__title {
    color: $Dark-blue;
  }

  &__description {
    font-weight: 400;
    color: $Desaturated-blue;
  }
}

.callout {
  background-color: $Very-pale-blue;
  width: 100%;
  padding: 1rem;
  border-radius: 0.75rem;

  display: flex;
  align-items: center;
  justify-items: end;

  &__left {
    display: flex;
  }

  &__icon {
    height: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  &__title {
    color: $Dark-blue;
    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  &__price {
    font-size: 1rem;
    color: $Desaturated-blue;
  }

  button {
    margin-left: auto;
  }
}
